.DS_Store
node_modules
/build
/.svelte-kit
/package
#.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/usercontent
/src/lib/worker/initialUpdate/worker.js
/src/lib/worker/toHTML/worker.js
/src/lib/worker/youtubeClipURL/worker.js
version
forsen-wiki-logs