# Prisma
POSTGRES_PASSWORD=
DATABASE_URL=postgres://postgres:${POSTGRES_PASSWORD}@db:5432/forsenwiki

DOMAIN="localhost"
HTTP_PORT="5080"; # Or 80.
PORT="5443" # Or 443.

AUTH_URL="http://${DOMAIN}:${PORT}/auth"
AUTH_SECRET=

# Twitch Auth provider
AUTH_TWITCH_ID=
AUTH_TWITCH_SECRET=

# Harbor Auth provider
# AUTH_HARBOR

# Absolute path for uploaded user content directory, this is the directory Svelte will save to.
STATIC_DIR="/usercontent"
# Make sure this exists, as docker will mount this into the services.
DEV_STATIC_DIR="/home/user/code/forsenwiki/usercontent"

ORIGIN="http://${DOMAIN}:${PORT}"
VITE_DOMAIN="http://${DOMAIN}:${PORT}"
VITE_STATIC_DOMAIN="http://${DOMAIN}:${PORT}/usercontent"

# Cloudflare cache invalidation
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=
