forsen.wiki {
	@wsrv {
		remote_ip 46.4.13.221
		remote_ip 51.15.191.75
		remote_ip 2a01:4f8:221:3d28::2
		remote_ip 2001:bc8:6005:122:ae1f:6bff:fe21:58f2
	}

	handle_path /usercontent* {
		handle @wsrv {
			root * /srv
			file_server
		}

		handle {
			respond "Only the cache provider can access this endpoint." 403
		}
	}

	handle {
		reverse_proxy sveltekit:3000
	}
}
